<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">Cadastrar</h4>
            <p class="category">Informe seus dados</p>
          </div>
          <div class="card-content">
            <form  novalidate #form="ngForm" (ngSubmit)="criarSegurado()">
              <div class="form-group">
                <button type="button"  name="cadastrar" class="btn btn-success btn-block" routerLink="/segurado-login-register">
                  <i class="fa fa-sign-in" aria-hidden="true"></i> Cadastre-se
                </button>
                <button type="button" class="btn btn-block btn-social" (click)="signInWithFacebook()" [ngClass]="registerColorFacebook" (mouseover)="registerColorFacebook='btn-facebook'" (mouseout)="registerColorFacebook='btn-block'">
                  <i class="fa fa-facebook" aria-hidden="true"></i> Cadastrar Com Facebook
                </button>
                <button type="button" class="btn btn-block" (click)="signInWithTwitter()" [ngClass]="registerColorTwitter" (mouseover)="registerColorTwitter='btn-twitter'" (mouseout)="registerColorTwitter='btn-block'">
                  <i class="fa fa-twitter" aria-hidden="true"></i> Cadastrar Com Twitter
                </button>
                <button type="button" class="btn btn-block" (click)="signInWithGoogle()" [ngClass]="registerColorGoogle" (mouseover)="registerColorGoogle='btn-google'" (mouseout)="registerColorGoogle='btn-block'">
                  <i class="fa fa-google" aria-hidden="true"></i> Cadastrar Com Google
                </button>
              </div>             
            </form>
          </div>
        </div>
      </div>

      <div class="col-md-6">
          <app-logar></app-logar>
      </div>

    </div>
  </div>
</div>
