<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Rede Referenciada</h4>
                        <p class="category">Clínicas, Consultórios, Médicos e Laboratórios.</p>
                    </div>                    
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-12">    
                                   <!-- Inserir espacamento desta mensagem de erro-->
                                    <div class="alert alert-danger"  [hidden]="!mensagemErro">
                                            <span>{{mensagemErro}}</span>
                                    </div>
                                </div>    
                            </div>
                            <div class="row">
                                <div class="col-md-5">      
                                    <div class="form-group form-black label-floating is-empty">
                                        <label class="control-label">Especialidade</label>                       
                                        <select class="form-control form-control-sm" (change)="loadFilters()" [(ngModel)]="especialidadeId">
                                            <option value="0"></option>
                                            <option *ngFor=" let esp of listaEspecialidade" value="{{esp.id}}">{{esp.nome}}</option> 
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-5">   
                                        <div class="form-group form-black label-floating is-empty"> 
                                            <label class="control-label">Localização</label>                            
                                            <select class="form-control form-control-sm" [(ngModel)]="bairro">
                                                <option value=""></option>
                                                <option *ngFor=" let loc of listaLocalizacao" value="{{loc.bairro}}">{{loc.bairro}}</option> 
                                            </select>

                                        </div>
                                    </div>
                                    <div class="col-md-2">   
                                            <div class="form-group form-black label-floating is-empty"> 
                                                <button type="button" (click)="pesquisar(true)" class="btn btn-danger pull-right" >Pesquisar</button>
                                            </div>
                                    </div>
                            </div>
                        </div>
                  
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>Nome</th>
                                    <th>Especialidade</th>
                                    <th>Local</th>
                                    <th>Telefone</th>
                                    <th>Horário</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ref of listaReferenciado">
                                    <td>{{ref.nome}}</td>
                                    <td>{{ref.especialidade.nome}}</td>
                                    <td>{{ref.endereco.logradouro}}, {{ref.endereco.complemento}}, {{ref.endereco.bairro}}, {{ref.endereco.cep}}</td> 
                                    <td>{{ref.telefone}}</td>
                                    <td>{{ref.horaInicioAtendimento}} às {{ref.horaFimAtendimento}}</td>                                 
                                </tr>
                            </tbody>    
                        </table>
                    </div>
                    <!-- Criar outra estrutura para o botao mais -->    
                    <button type="button" (click)="pesquisar(false)" class="btn btn-danger pull-right" >Ver mais Referenciados de sua rede...</button>
                                                  
                </div>
            </div>
        </div>
    </div>
</div>

