<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" src="../assets/img/faces/marc.jpg" />
                      </a>
                  </div>
  
                  <div class="content">
                      <h6 class="category text-gray">Plano Platinum</h6>
                      <h4 class="card-title">Carlos Aiello</h4>
                      <p class="card-content">
                           Rio de Janeiro - RJ
                      </p>
                      <a href="#pablo" class="btn btn-danger btn-round">Sair</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  