<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="#pablo">
                          <img class="img" src="../assets/img/faces/marc.jpg" />
                      </a>
                  </div>
  
                  <div class="content">
                      <h6 class="category text-gray">Apólice: {{numeroApolice}}</h6>
                      <h6 class="category text-gray">CPF: {{cpf}}</h6>
                      <h4 class="card-title">Segurado: {{nome}}</h4>
                      <h4 class="card-title">Plano: {{plano}}</h4>
                      <a href="#" class="btn btn-danger btn-round">Sair</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  